html, body {
    margin: 0px;
    padding: 0px;
    background-image: url("assets/images/triangle-mosaic.png");
    background-repeat: repeat;
}
.head {

}
#logo {

}
#logo p {
    background: #FD6A5D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    padding: 12px;
    width: 165px;
    border: 1px #000000 solid;
}
.body-content {
    width: 960px;
    min-height: 700px;
    background-color: white;
    margin: auto;
    border: 1px #000000 solid;
}
.sticky-footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}